<h1 class="page-title">Home</h1>
<div class="row-fluid">
	<div class="span2 description">
	Located in Fremont:
	</div>	
	<div class="span10">
	<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Paseo&amp;sll=47.658519,-122.350005&amp;sspn=0.001599,0.002465&amp;ie=UTF8&amp;hq=Paseo&amp;ll=47.658499,-122.350309&amp;spn=0.006295,0.006295&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://www.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Paseo&amp;sll=47.658519,-122.350005&amp;sspn=0.001599,0.002465&amp;ie=UTF8&amp;hq=Paseo&amp;ll=47.658499,-122.350309&amp;spn=0.006295,0.006295&amp;t=m" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</div>
</div>	
<div class="row-fluid">
	<div class="span6">
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?sll=47.67303219998112,-122.3798642331026&amp;sspn=0.05484891476924878,0.12514913035472444&amp;t=m&amp;q=paseo&amp;dg=opt&amp;ie=UTF8&amp;hq=paseo&amp;hnear=&amp;z=14&amp;iwloc=A&amp;cid=1013643724219212516&amp;ll=47.674838,-122.40609&amp;output=embed"></iframe><br /><small><a href="https://www.google.com/maps?sll=47.67303219998112,-122.3798642331026&amp;sspn=0.05484891476924878,0.12514913035472444&amp;t=m&amp;q=paseo&amp;dg=opt&amp;ie=UTF8&amp;hq=paseo&amp;hnear=&amp;z=14&amp;iwloc=A&amp;cid=1013643724219212516&amp;ll=47.674838,-122.40609&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</div>
</div>		
