<% provide(:title, 'Menu') %>
<h1 class="page-title">Menu</h1>

<div class="row-fluid">
	<div class="menu-category span12">
		<span class="menu-title">Sandwiches</span><span class="description">
	    <br><em>All sandwiches are served on a toasted baguette, slathered with our signature aoli, fresh cilantro, pickled jalapenos, romaine lettuce and caramelized onions. Add garlic corn for $1.00</em></span>
	</div> 
	<div class="span12 block">
		<div class="menu-item">
			<span class="num">1.</span><span class="fdname">Grilled Pork - $8.50</span><br>
		  Cubed pork loin grilled on a flat top and basted with Paseo Marinade until golden brown.
		  </div>
		  <div class="menu-item">
		  	<span class="num">2.</span><span class="fdname">Caribbean Roast - $8.50</span><br>
		 		<span class="alt-id"><em>Most Popular: Formerly known as the Midnight Cuban.</em></span><br>
		 		Pork shoulder slow-roasted in Paseo Marinade until falling apart.
			</div>
			<div class="menu-item">
				<span class="num">3.</span><span class="fdname">Chicken Breast - $8.50</span><br>
      	Boneless, skinless chicken breast grilled on a flat top and basted with Paseo Marinade until golden brown.
      </div>  
      <div class="menu-item">
      	<span class="num">4.</span><span class="fdname">Smokin' Thighs - $8.50</span><br>
				Two marinated, de-boned, skin-on chicken thighs, flash grilled and oven roasted.
			</div>
			<div class="menu-item">
				<span class="num">5.</span><span class="fdname">Sauteed Prawns - $8.95</span><br>
				Tiger prawns saut&eacute;ed in extra virgin olive oil and garlic tapenade. (Optional spice: 0-5 stars)
		  </div>
			<div class="menu-item">
				<span class="num">6.</span><span class="fdname">Fish of the Day - $8.95</span><br>
	    	Delectable slices of fish, saut&eacute;ed in extra virgin olive oil and garlic tapenade. (Optional spice: 0-5 stars)
	  	</div>
	  		
		
		
			<div class="menu-item">
				<span class="num">7.</span><span class="fdname">Tofu Delight - $8.50</span><br>
	      Firm slices of organic tofu saut&eacute;ed in extra virgin olive oil and garlic tapenade. (Optional spice: 0-5 stars)
	    </div>
			<div class="menu-item">
				<span class="num">8.</span><span class="fdname">Paseo Press - $8.95</span><br>
	      <em class="alt-id">Formerly known as the Midnight Press.</em><br> Caribbean Roast pork, banana peppers, smoked ham and swiss cheese, melted together on a hot press. (No lettuce or jalapenos)
	    </div>
	    <div class="menu-item">
	    	<span class="num">9.</span><span class="fdname">Ham and Cheese - $7.50</span><br>
	      Our twist on a classic. Slices of smoked ham, banana peppers, and swiss cheese, melted together on a hot press. (No lettuce or jalapenos)
	    </div>   
			<div class="menu-item">
				<span class="num">10.</span><span class="fdname">Onion Obsession - $6.00</span><br>
	      Caramelized onions piled high, saut&eacute;ed in extra virgin olive oil and garlic tapenade. (Optional spice: 0-5 stars)
	    </div>
			<div class="menu-item">
				<span class="num">11.</span><span class="fdname">Seared Scallops - $8.95</span><br>
	      Wild scallops saut&eacute;ed in extra virgin olive oil and garlic tapenade. (Optional spice: 0-5 stars)
	    </div>  
		
	</div><!--end of span12 block-->	
	<div class="menu-category span12">
	<span class="menu-title">The Goods</span>
	</div>
	<div class="span12 block">
		
			<div class="menu-item">
				<span class="num">12.</span><span class="fdname">West Caribbean Bowl - $12.00</span><br>
	      Jasmine rice, black beans, warm salsa, cheddar cheese, sour cream, pickled jalapenos and a chicken thigh.  Served with tortilla chips.<br><span class="alt-id"><em>Additional chicken thigh - $2.00</em></span>
	   </div>
		  <div class="menu-item">
		  	<span class="num">13.</span><span class="fdname">Rice Bean Thigh Trio - $8.00</span><br>
	      Two scoops of Jasmine rice, a cup of black beans and a chicken thigh. <br><span class="alt-id"><em>Additional chicken thigh - $2.00</em></span>
		  </div>	
		  <div class="menu-item">
		  	<span class="num">14.</span><span class="fdname">Paseo Greens - $4.75</span><sup class="gf-vg"> GF / VG</sup><br>
	      Romaine lettuce, purple cabbage, pickled beets, and fresh cilantro, drizzled with our house vinaigrette.<br><span class="alt-id"><em>Add chicken, pork, or tofu - $3.00<br> Add prawns, scallops, or fish - $4.00</em></span>
		  </div>
		   
		
		  <div class="menu-item">	
		  	<span class="num">15.</span><span class="fdname">Black Beans and Rice - $5.50</span><sup class="gf-vg"> GF / VG</sup><br>
	      A bowl full of fluffy Jasmine rice smothered in our critically acclaimed vegetarian black beans.
		  </div>  	
		  <div class="menu-item">
		  	<span class="num">16.</span><span class="fdname">Rice, Beans and Salad - $8.25</span><sup class="gf-vg"> GF / VG</sup><br>
	      Two scoops of Jasmine rice, a cup of black beans and Paseo Greens.
		  </div>
	</div><!--end of span12 block-->		
	<div class="menu-category span12">
		<span class="menu-title">Entr&eacute;es</span>
		<span class="description"><br><em>All entr&eacute;es are served with Jasmine rice, black beans, Paseo Greens and garlic corn. Available all day.</em><span>
	</div>
	<div class="span12 block">
		  <div class="menu-item">
		  	<span class="num">17.</span><span class="fdname">Half Chicken Dinner - $12.50</span><br>
				A huge half chicken oven roasted in Paseo Marinade.
		  </div>
		  <div class="menu-item">
				<span class="num">18.</span><span class="fdname">Caribbean Roast Dinner - $12.50</span><br>
				<span class="alt-id"><em>Our entr&eacute;e form of the #2.</em></span><br>
				Pork shoulder slow-roasted in Paseo Marinade until falling apart.
		  </div>	
		  <div class="menu-item">
				<span class="num">19.</span><span class="fdname">Smokin' Thigh Dinner - $12.50</span><br>Two bone-in chicken thighs oven roasted in Paseo Marinade.
		  </div>
		  <div class="menu-item">
				<span class="num">20.</span><span class="fdname">Chicken Breast Dinner - $13.00</span><br>A boneless, skinless chicken breast grilled on a flat top and basted wih Paseo Marinade until golden brown.
		  </div>	
		  <div class="menu-item">
		  	<span class="num">21.</span><span class="fdname">Pork Loin Dinner - $13.00</span><br>Cubed pork loin grilled on a flat top and basted with Paseo Marinade until golden brown.
		  </div>
		 
		 
		  <div class="menu-item">
		  	<span class="num">22.</span><span class="fdname">Caribbean Scallops Dinner - $13.00</span><sup class="gf-vg"> GF</sup><br> Wild scallops sautéed in extra virgin olive oil and our homemade red salsa. Available with cilantro. (Optional spice: 0-5 stars)
		  </div>	
		  <div class="menu-item">
				<span class="num">23.</span><span class="fdname">Paseo Fish Dinner - $13.00</span><sup class="gf-vg"> GF</sup><br>
				Fish of the day saut&eacute;ed in extra virgin olive oil and our homemade red salsa. Available with cilantro. (Optional spice: 0-5 stars)
		  </div>
		  <div class="menu-item">
				<span class="num">24.</span><span class="fdname">Paseo Prawn Dinner - $13.00</span><sup class="gf-vg"> GF</sup><br>
				Tiger prawns saut&eacute;ed in extra virgin olive oil and our homemade red salsa. Available with cilantro. (Optional spice: 0-5 stars)
		  </div>	
		  <div class="menu-item">
				<span class="num">25.</span><span class="fdname">Tofu Con Gusto - $12.50</span><sup class="gf-vg"> GF / VG</sup><br>
				Firm slices of organic tofu saut&eacute;ed in extra virgin olive oil and our homemade red salsa. Available with cilantro. (Optional spice: 0-5 stars)
		  </div>

		
	</div><!--end of span12-->	  	
	<div class="menu-category span12 loners-sides">
		<span class="menu-title">Loners</span>
		<span class="description"><br><em>All loners are served with a cup of Jasmine rice.</em><span>
	</div>
	<div class="span12 block">
			<div class="side">Grilled Chicken Breast - $5.75</div>
		  <div class="side">Paseo Pork Loin - $5.75</div>
			<div class="side">Two Chicken Thighs - $5.25</div>
			<div class="side">Paseo Half Chicken - $5.75</div>	
		  <div class="side">Caribbean Roast Pork - $5.50</div>
			<div class="side">Prawns in Red Sauce - $6.25</div>
			<div class="side">Scallops in Red Sauce - $6.25</div>
			<div class="side">Fish in Red Sauce - $6.25</div>
  		<div class="side">Tofu in Red Sauce - $5.75</div>
	</div> <!--end of span12 block-->	  
		<div class="menu-category span12 loners-sides">
			<span class="menu-title">Sides</span>
		</div>
		<div class="span12 block">
		  	<div class="side menu-spacing-fix">6oz / 12oz black beans - $3.00 / 4.25</div>
			<div class="side">6oz / 12oz Jasmine rice - $1.50 / 2.50</div>
			<div class="side">6oz Caramelized Onions - $1.00</div>
			<div class="side">Corn - $1.00</div>
			<div class="side">Tortilla Chips - $1.25</div>	
			<div class="side">Salsa (optional spice: 0-5 stars) - $0.95</div>
			<div class="side">Signature aoli - $0.95</div>
			<div class="side">Habanero oil - $0.50</div>
			<div class="side">Jalapenos - $0.50</div>	
			<div class="side">Can Soda or Water - $1.25</div>	
	</div>
	<div class="menu-category span12">
		<span class="description">
		GF: Gluten-Free<br>
		VG: Vegetarian<br>
		</span>
		<span class="alt-id">All menu items are subject to cross-contamination and therefore are not guaranteed to be allergen-free.</span>
	</div>

		
</div>
	
	
	
	
	
	

	
	 