<% provide(:title, 'News') %>
	<h1 class="page-title">Press</h1>
	<div class="menu-category">
		<span class="menu-title">
			Magazines 
		</span>
	</div>		 

	<article>
		<h4><em>Esquire<em></h4>
			<p>
				In 2008 Paseo was credited as one of the best sandwiches in America, find us under the category <strong>Cuban Meat Sandwich</strong>. Link to coverage: <a href="http://www.esquire.com/features/food-drink/sandwiches"target="_blank">The Best Sandwiches in America</a>
			</p>	
	</article>
	<article>
		<h4>The Seattle Times</h4>
			<p class="description">
				It's comes as no surprise Paseo has been featured in <cite>The Seattle Times</cite> on numerous occasions.  Here are some of our favorite articles over the past years.
			</p>	
			<p>
				2006: <a href="http://community.seattletimes.nwsource.com/archive/?date=20060901&slug=deal01" target="_blank">A Midnight special hits the spot at lunch</a><br>
				2008: <a href="http://seattletimes.com/html/pacificnw/2004299471_pacificportrait23.html" target="_blank">Paseo Caribbean | Snares the hungry in its saucy, scentual embrace</a><br>	
				2011: <a href="http://seattletimes.com/html/restaurants/2015471512_leson01.html" target="_blank">Looking for the best sandwiches in the area? Nancy Leson's readers cast their votes</a>
			</p>	
	</article>
	<article>
		<h4>Seattle Magazine<h4>
			<div class="description">
				Paseo has achieved the 

