<% provide(:title, 'News') %>
	 <div id="cash-only"><em>Cash Only Establishment</em></div>
	<article class="press-top">
		<h4>Esquire</h4>
			<p class="description">
				In 2008, Esquire Magazine credited Paseo for having one of the "best sandwiches in America." Find us under the category <em>Cuban Meat Sandwich</em>.<br> Link: <a href="http://www.esquire.com/features/food-drink/sandwiches"target="_blank">The Best Sandwiches in America</a>
			</p>	
	</article>
	<article>
		<h4>TLC</h4>
			<p class="description">
				In 2010, Paseo was included in <cite>TLC's TV series: <em>Best Food Ever</em></cite>.  We appeared in Episode 1, <cite>Sensational Sandwiches</cite> ranking 2nd.  Check out this blog post: <a href="http://www.slashfood.com/2010/05/04/tlc-premieres-best-food-ever/" target="_blank">Best Food Ever</a>, or view the episode on Netflix to hear a brief history of our restaurant.<br>
				Netflix Subscribers: <a href="http://movies.netflix.com/WiMovie/Best_Food_Ever/70222618?locale=en-US" target="_blank">Link to video</a>
			</p>	 
	</article>
	<article>
		<h4>The Seattle Times</h4>
			<p class="description">
				It's comes as no surprise Paseo has been featured in <cite>The Seattle Times</cite> on numerous occasions, here are some of our favorite articles over the past years.
			</p>	
			<p class="description">
				2006: <a href="http://community.seattletimes.nwsource.com/archive/?date=20060901&slug=deal01" target="_blank">A Midnight special hits the spot at lunch</a><br>
				2008: <a href="http://seattletimes.com/html/pacificnw/2004299471_pacificportrait23.html" target="_blank">Paseo Caribbean | Snares the hungry in its saucy, scentual embrace</a><br>	
				2011: <a href="http://seattletimes.com/html/restaurants/2015471512_leson01.html" target="_blank">Looking for the best sandwiches in the area? Nancy Leson's readers cast their votes</a>
			</p>	
	</article>
	<article>
		<h4>Seattle Magazine</h4>
			<p class="description">
				Paseo has been featured on <cite>Seattle Magazine's</cite> readers' choice list of <strong><em>Best Restaurants</em></strong> for the following years: 
				<a href="http://www.seattlemag.com/article/best-restaurants-2010-readers-choice-winners-8" target="_blank">2010</a>, 
				<a href="http://www.seattlemag.com/article/dining/best-seattle-restaurants-2011-directory" target="_blank">2011</a>, 
				<a href="http://www.seattlemag.com/article/readers-choice-2012-best-restaurants" target="_blank">2012</a>, 
				<a href="http://www.seattlemag.com/article/readers-choice-2013-best-restaurants-seattle" target="_blank">2013</a>.
			</p>
			<p class="description">
				In 2010 we were also on their <em>Sandwich Bucket List</em>.<br> Link: 
				<a href="http://www.seattlemag.com/article/seattles-48-best-sandwiches-bucket-list" target="_blank">Seattle's 48 Best Sandwiches</a>
			</p>
	</article>
	<article>
		<h4>Seattle Met</h4>
		<p class="description">
			On the <cite>Seattle Met's annual guide to top dining</cite> comes a list of <cite><em>Restaurants that capture the soul of Seattle</em></cite>, we're proud to be one of them.<br>
			Link: <a href="http://www.seattlemet.com/eat-and-drink/best-restaurants-2012/articles/best-restaurants-2012" target="_blank">Best Restaurants 2012</a>
		</p>
		<p class="description">
			Under the location <em>Cuba</em>, comes Paseo's Caribbean Roast on the list of Seattle's best restaurants for cheap eats.<br>Link: <a href="http://www.seattlemet.com/eat-and-drink/cheap-eats-2012/articles/cheap-eats-world-tour-sandwiches-july-2012">Cheap Eats World Tour: Sandwiches</a>
		</p>		
	</article>
	<article>
	  <h4>The Stranger</h4>
	  <p class="description">
	   <cite>The Stranger</cite> suggests our Caribbean Roast Sandwich, referring to it as a "crackwich" in their <a href="http://www.thestranger.com/suggests/14114561/paseo-caribbean-roast-sandwich" target="_blank"> review</a> of our signature item. 
	  </p>
	</article>	
	<article id="article-bottom">
	  <h4>Seattle P-I</h4>
	  <p class="description">
      	Paseo came out on top, receiving the #1 ranking on <cite>the Seattle P-I's list of their top 20 sandwiches.<br>
      	Link: <a href="http://blog.seattlepi.com/thebigblog/2012/09/11/seattles-20-best-sandwiches/#7298-1" target="_blank">Seattle's 20 best sandwiches</a>
	</article>	
	 <div id="cash-only"><em>Cash Only Establishment</em></div>	




