	<div class="span12 block">
		<div class="span6 menu-column left">
			<table class="menu-item3">
   			<tr>
    			<td><span class="num">1.</span><span class="fdname">Grilled Pork</span></td>
    			<td><span class="num">$8.50</span></td>
   			</tr>
   			<tr>
   				<td>Cubed pork loin grilled on a flat top and basted with  until golden brown.</td>
  			</tr>
			</table>
			<table class="menu-item3">
   			<tr>
    			<th><span class="num">2.</span><span class="fdname">Caribbean Roast</span></th>
    			<td><span class="num">$8.50</span></td>
   			</tr>
   			<tr>	
   				<td><span class="alt-id"><em>Most Popular: Formerly known as the Midnight Cuban.</em></span><br>
		 		Pork shoulder slow-roasted in Paseo Marinade until falling apart.</td>
  			</tr>
			</table>
			<table class="menu-item3">
   			<tr>
    			<th><span class="num">3.</span><span class="fdname">Chicken Breast</span></th>
    			<td><span class="num">$8.50</span></td>
   			</tr>
   			<tr>	
   				<td>Boneless, skinless chicken breast grilled on a flat top and basted with Paseo Marinade until golden brown.</td>
  			</tr>
			</table>
			<table class="menu-item3">
   			<tr>
    			<th><span class="num">4.</span><span class="fdname">Smokin' Thighs</span></th>
    			<td><span class="num">$8.50</span></td>
   			</tr>
   			<tr>	
   				<td>Two marinated, de-boned, skin-on chicken thighs, flash grilled and oven roasted.</td>
  			</tr>
			</table>
			<table class="menu-item3">
   			<tr>
    			<th><span class="num">5.</span><span class="fdname">Sauteed Prawns</span></th>
    			<td><span class="num">$8.95</span></td>
   			</tr>
   			<tr>	
   				<td>Tiger prawns saut&eacute;ed in extra virgin olive oil and garlic tapenade. (Optional spice: 0-5 stars)</td>
  			</tr>
			</table>
			<table class="menu-item3">
   			<tr>
    			<th><span class="num">6.</span><span class="fdname">Fish of the Day</span></th>
    			<td><span class="num">$8.95</span></td>
   			</tr>
   			<tr>	
   				<td>Delectable slices of fish, saut&eacute;ed in extra virgin olive oil and garlic tapenade. (Optional spice: 0-5 stars)</td>
  			</tr>
			</table>
		</div><!--end of column1-->
		<div class="span6 menu-column">
			<table class="menu-item3">
   			<tr>
    			<th><span class="num">7.</span><span class="fdname">Tofu Delight</span></th>
    			<td><span class="num">$8.50</span></td>
   			</tr>
   			<tr>	
   				<td>Firm slices of organic tofu saut&eacute;ed in extra virgin olive oil and garlic tapenade. (Optional spice: 0-5 stars)</td>
  			</tr>
			</table>
			<table class="menu-item3">
   			<tr>
    			<th><span class="num">8.</span><span class="fdname">Paseo Press</span></th>
    			<td><span class="num">$8.95</span></td>
   			</tr>
   			<tr>	
   				<td><em class="alt-id">Formerly known as the Midnight Press.</em><br> Caribbean Roast pork, banana peppers, smoked ham and swiss cheese, melted together on a hot press. (No lettuce or jalapenos)</td>
  			</tr>
			</table>
			<table class="menu-item3">
   			<tr>
    			<th><span class="num">9.</span><span class="fdname">Ham and Cheese</span></th>
    			<td><span class="num">$7.50</span></td>
   			</tr>
   			<tr>	
   				<td>Our twist on a classic. Slices of smoked ham, banana peppers, and swiss cheese, melted together on a hot press. (No lettuce or jalapenos)</td>
  			</tr>
			</table>
			<table class="menu-item3">
   			<tr>
    			<th><span class="num">10.</span><span class="fdname">Onion Obsession</span></th>
    			<td><span class="num">$6.00</span></td>
   			</tr>
   			<tr>	
   				<td>Caramelized onions piled high, saut&eacute;ed in extra virgin olive oil and garlic tapenade. (Optional spice: 0-5 stars)</td>
  			</tr>
			</table>
			<table class="menu-item3">
   			<tr>
    			<th><span class="num">11.</span><span class="fdname">Seared Scallops</span></th>
    			<td><span class="num">$8.95</span></td>
   			</tr>
   			<tr>	
   				<td>Wild scallops saut&eacute;ed in extra virgin olive oil and garlic tapenade. (Optional spice: 0-5 stars)</td>
  			</tr>
			</table>

		</div><!--end of column2-->