<div class="span6 menu-column">
	<table class="menu-item3">
   	<tr>
    	<th>1. Grilled Pork - $8.50 </th>
   	</tr>
   	<tr>	
   		<td>Cubed pork loin grilled on a flat top and basted with  until golden brown.</td>
  	</tr>
	</table>
	<table class="menu-item3">
  	<tr>
    	<th>
    		<span class="num">1.</span><span class="fdname">Grilled Pork</span></th>
   </tr>
   <tr class="price">    </tr>	
    <td>Cubed pork loin grilled on a flat top and basted with  until golden brown.</td>
    </tr>
	</table>
</div>