.wrapper{
  width: 80%;
}

.connect-bar{
  float: left;
  margin-left:3%;
}

/*rgb(53,208,242)*/

border-style: solid;
  border-color: #0fe9f7;
  border-width: 7px;
  border-radius: 5px;


  /* carousel */
#myCarousel {
  padding-top: 40px;
}

<div class="fb-like" data-href="https://www.facebook.com/pages/Paseo-Caribbean-Restaurant/166540673378077?fref=ts" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="lucida grande"></div>

/* might not need this
html, body, .main-page, .row-fluid, .background-container {
  height: 100% !important;
}
*/

<div class="span6 menu-column">
	<table class="menu-item3">
   <tr>
    	<th>1. Grilled Pork - $8.50 </th>
   </tr>
   <tr>	
    <td>Cubed pork loin grilled on a flat top and basted with  until golden brown.</td>
    </tr>
	</table>
</div>


@media (min-width: 768px) and (max-width: 991px){
  .container {
    max-width: 940px !important; 
  }
 } 