.wrapper{
  width: 80%;
}

.connect-bar{
  float: left;
  margin-left:3%;
}

/*rgb(53,208,242)*/

border-style: solid;
  border-color: #0fe9f7;
  border-width: 7px;
  border-radius: 5px;


  /* carousel */
#myCarousel {
  padding-top: 40px;
}

<div class="fb-like" data-href="https://www.facebook.com/pages/Paseo-Caribbean-Restaurant/166540673378077?fref=ts" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="lucida grande"></div>