@import "bootstrap";

/* Universal */

body {
/*pinkish #D68CA3*/
  background-color: #00A7D4;
  /*padding-top: 40px;*/
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.background-container {
    margin: 0px;;
    position: relative;
}

#backdrop {
  background-color:#007999;
  background: url(image_path('paseo12.jpg')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
}

/*#00A7D4*/
.header  {
  background-color: #00A7D4;
}

.text-box{
  text-align: left;
  background-color:#ffffff;
  padding: 20px 20px 10px 20px;
  opacity:0.94; 
  /*
  border-left-style: solid;
  border-right-style: solid;
  border-color:#FF7D7D;
  border-width: 4px;
  */
}

.table  {
  margin-bottom: 20px !important;
}

#content  {
  margin-top: 0px !important;
}

.center {
  margin: 0 auto !important;
  float: none !important;
}

article{
  padding-bottom: 10px;
  margin-top: 20px;
  border-bottom: dotted;
  border-bottom-width: 1px;
  border-top-width:2px;
  border-color: #0fe9f7;
}

.press-top  {
  border-top: dotted;
  border-top-width: 1px;
  border-color: #0fe9f7;
}

/*Connect Bar*/

img.icon{
  margin:10px; 
  &:hover {
    opacity: 1.0 !important;
  }
}

.connect-bar  {
 margin-bottom: 10px; 
}

div.connect-bar a  {
  text-align: center;
}


/*Footer*/

.footer {
    background-color: #00A7D4;
    font-size: 110%;
    height: 100px; 
    position: relative;
    box-shadow: 0px -1px 2px #0fe9f7;
        
}

footer.footer li{
  margin-left: 20px;
}

ul.foot-nav a  {
  color: white !important;
}

.foot-nav  {
  float: right;
  padding-right: 20px;
  padding-top: 10px; 
}

.copyright  {
  color: graydark;
  text-align: center;
  margin-left: 10px;
  margin-top: 5px;
}

div.copyright a  {
  color: white;
}

.row  {
  margin-left: 0px !important;
  }

/* Menu Page */
.menu-category  {
  margin: 5px auto 5px auto !important;
  border-bottom: solid;
  border-top:solid;
  border-bottom-width: 2px;
  border-top-width:2px;
  border-color: #0fe9f7;
  padding-bottom:8px;
  padding-top: 8px;
}

.menu-title  {
  font-size: 2.0em;
  font-weight:bold;
  margin-right: 5px;
}

.description  {
  font-size: 1.1em;
  color: #660000;
}

.block  {
  padding-right:0px;
  margin-left: 0px !important;
}

.menu-item  {
    margin-top: 25px;
    margin-bottom:25px;
}

.loners-sides{
  margin-bottom: 17px !important;
}

.side  {
  color: #660000;
  font-size: 15px;
  font-weight: bold;
  margin: 15px 0px 15px 0px;
}

.fdname  {
  font-size: 16px;
  margin-left: 7px;
  color: #660000;
  font-weight: bold;
}

.num  {
  font-size: 16px;
  color: #660000;
  font-weight: bold;
}

.gf-vg  {
  color: #660000;
}

.alt-id  {
  color: #660000;
  font-size: 12px;
}

/* Typography */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2{
  text-align: center;
  font-size: 1.8em;
}

h3{
  text-size: 1.5em !important; 
}

.page-title{
  color:#333333;
  text-align: center;
  margin: 0px auto 20px auto;
}

/* Header */
ul {
    float: left;
    list-style: none;
    
    li {
      float: left;
      margin-left: 0px;
    }
  }

.menu-link  {
  text-align: center;
  line-height: 25px;  //size of nav dropdown
  padding: 10px 20px 10px 20px;
}

a.menu-link  {
      color: #ffffff !important;
      text-shadow: none!important;
      font-weight: bold;
      &:hover {
         color: #660000 !important;
       }
     }

/*active states*/
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus
    { 

 }

/*hovering states*/
.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus { 
    background-color:white;
}     

.navbar-container  {
  background-color:#FF7D7D; 
  margin-left: 0px; 
  margin-right: 0px; 
  width: 100% !important; 
}

.navbar-inner{
  background-color: #FF7D7D; 
  background-image: none;
  font-size: 120%;
  margin:0 auto 0px auto;
  border-bottom: none;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
  border-bottom-width: 1px;
  border-bottom-color: #0fe9f7;
  border-color: #0fe9f7;
  box-shadow: 0px 0px 0px !important;
  border-radius: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
 
}

.navbar {
  margin-bottom: 0px !important;
}

/*
.navbar-static-top  {
  margin-left: 0px !important;  //Ensures navbar fits upon resize
  margin-right: 0px !important;
}
*/

#connect-bar {
float:left; 
width:100%; 
display: block; 
text-align: center;
}

#pager a {
display:inline-block; 
width:10px; 
height:10px; 
text-indent: -9999px; 
 margin:0 2px;}



@import "bootstrap-responsive";