@import "bootstrap";


/* Universal */

body {
  background-color: #D68CA3;
  padding-top: 40px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.background-container {
    margin: 0px;;
    position: relative;
}

#backdrop {
  background: url(image_path('paseo1.jpg')) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
}

.main-page  {
  
}

.text-box{
  text-align: left;
  background-color:#ffffff;
  opacity:0.9; 
  padding: 20px;
  border-radius: 5px;  
  margin-top:10px;
  /*
  border-style: solid;
  border-width: 7px;
  border-color: #0fe9f7;
  */
}

.center {
  margin: 0 auto !important;
  float: none !important;
}

#content  {
  
}

.row-fluid [class*="span"] {
    float: left !important; //Allows boxes to stack properly
}

/*Connect Bar*/

.connect-bar  {
    margin-bottom:10px;
}

img.icon{
  margin:10px; 
  &:hover {
    opacity: 1.0 !important;
  }
}

/*Footer*/

.footer {
    background-color: #D68CA3;
    height: 35px; 
    width:100%;
    position: relative;    
}

footer.footer li{
  margin-left: 10px;
}

/* Menu */

.list-2s  {
  margin: 5px auto 15px auto !important;
}

.menu-row  {
  padding-top: 10px;
}

/* Typography */
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  color: $grayLight;
}

h2{
  text-align: center;
  font-size: 1.8em;
}

h3{
  text-size: 1.5em !important; 
}

.page-title{
  width: 16%; 
  text-align: center;
  margin: 0px auto 10px auto;
}

.menu-category  {
  border-bottom: solid;
  border-bottom-width: 2px;
  border-color: #0fe9f7;
  padding-bottom:5px;
}

.food-title  {
  
  font-size: 1.8em;
  font-weight:bold;
  margin-right: 5px;
}

.description  {
  font-size: 1.0em;
}



/* Header */
ul {
    float: left;
    list-style: none;
    
    li {
      float: left;
      margin-left: 0px;
    }
  }

.menu-link  {
  text-align: center;
  line-height: 30px;  //size of nav dropdown
  margin-left: 10px
}

a.menu-link  {
      color: white !important;
      &:hover {
         color: #660000 !important;
       }
      &:active {
        
      } 
      &:link {
      color: white;

      }
     }

/*active states*/
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus
    { 
 }

/*hovering states*/
.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus { 
    background-color:white;
  }     

.navbar-inner{
  background-color: #D68CA3; 
  background-image: none;
  font-size: 120%;
  border-color: white;
  border-width: 7px;
}

.navbar {
  margin-bottom: 0px !important;
}

.navbar-fixed-top  {
  margin-left: 0px !important;  //Ensures navbar fits upon resize
  margin-right: 0px !important;
}


@import "bootstrap-responsive";









