<footer class="footer">
	<div class="container">
    <ul class="foot-nav">
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Menu",  menu_path %></li>
      <li><%= link_to "Press", press_path %></li>
      <li><%= link_to "Contact", contact_path  %></li>
    </ul> 
 
</footer>

