<footer class="footer">
	<div class="container">
	  <div class="row">
		<div class="bottom-menu">
    	<ul class="foot-nav">
      		<li><%= link_to "Home",   root_path %></li>
      		<li><%= link_to "Menu",  menu_path %></li>
     	    <li><%= link_to "Contact", contact_path  %></li>
    	</ul>
    	</div>
      </div>
      <div class="row">	
    	<div class="copyright">
	  		&copy;2013 Paseo Caribbean<br>
	  		<a class="personal-logo" href="http://suminfo.herokuapp.com" target="_blank">Sum Info.</a> designs
	  	</div>
	  </div>	
      	 
 	</div>
</footer>

