<footer class="footer">
     <div class="col-xs-12 col-sm-12 col-md-9 col-lg-8 center">
      <div id="developer-info">Website by: <a id="personal-logo" href="http://suminfo.herokuapp.com" target="_blank">Sum Info.</a></div>
       <ul class="foot-nav">
          <li><%= link_to "Home",   root_path %></li>
          <li><%= link_to "Menu",  menu_path %></li>
          <li><%= link_to "Press", press_path %></li>
          <li><%= link_to "Ordering", ordering_path  %></li>
       </ul>
     </div>
    </div>
</footer>

